In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score
import statistics

In [2]:
housing_df = pd.read_csv('house_train_raw.csv')

# Reviso la cantidad y con qué columnas cuento

In [3]:
housing_df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

# Realizo EDA sobre columnas que elijo para mi modelo como 'x'

In [4]:
X = housing_df[['ExterCond','SaleCondition','RoofMatl','GarageArea','LotArea','YearBuilt','OverallCond','OverallQual','FullBath','KitchenAbvGr','BedroomAbvGr','TotRmsAbvGrd','2ndFlrSF','1stFlrSF','MSSubClass','Neighborhood']]

# Variables Categoricas

In [5]:
# Trabajo con variables catégoricas en primera instancia. Las cuales son 'ExterCond', 'SaleCondition', 'RoofMatl' y 'Neighborhood'

In [6]:
X['ExterCond'].value_counts()

TA    1282
Gd     146
Fa      28
Ex       3
Po       1
Name: ExterCond, dtype: int64

In [7]:
X['ExterCond'].unique()

array(['TA', 'Gd', 'Fa', 'Po', 'Ex'], dtype=object)

In [8]:
X['ExterCond'] = X['ExterCond'].map({'TA': 1, 'Gd': 2, 'Fa': 3, 'Po': 4, 'Ex': 5})

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_7816\4213422523.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['ExterCond'] = X['ExterCond'].map({'TA': 1, 'Gd': 2, 'Fa': 3, 'Po': 4, 'Ex': 5})

In [9]:
X['SaleCondition'].value_counts()

Normal     1198
Partial     125
Abnorml     101
Family       20
Alloca       12
AdjLand       4
Name: SaleCondition, dtype: int64

In [10]:
X['SaleCondition'].unique()

array(['Normal', 'Abnorml', 'Partial', 'AdjLand', 'Alloca', 'Family'],
      dtype=object)

In [11]:
X['SaleCondition'] = X['SaleCondition'].map({'Normal': 1, 'Abnorml': 2, 'Partial': 3, 'AdjLand': 4, 'Alloca': 5, 'Family': 6})

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_7816\1294793940.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['SaleCondition'] = X['SaleCondition'].map({'Normal': 1, 'Abnorml': 2, 'Partial': 3, 'AdjLand': 4, 'Alloca': 5, 'Family': 6})

In [12]:
# En 'RoofMatl', me quedo con solo dos campos para reducir dimensionalidad.

In [13]:
listado_roof = X['RoofMatl'].value_counts()
roof_material_menos_15 = listado_roof[listado_roof<=15]
X['RoofMatl'] = X['RoofMatl'].apply(lambda x: 2 if x in roof_material_menos_15 else 1)

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_7816\1178462949.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['RoofMatl'] = X['RoofMatl'].apply(lambda x: 2 if x in roof_material_menos_15 else 1)

In [14]:
# En 'Neighborhood' creo dummies para poder utilizar en mi modelo y mejorar la perfomance.

In [15]:
len(X['Neighborhood'].unique())

25

In [16]:
dummies = pd.get_dummies(X['Neighborhood'])

In [17]:
X_new = pd.concat([X,dummies],axis='columns')

In [18]:
X_new.drop(['Neighborhood'],axis='columns',inplace=True)

## Variables Numericas

In [19]:
X_new['GarageArea'].value_counts()

0      81
440    49
576    47
240    38
484    34
       ..
320     1
594     1
831     1
878     1
192     1
Name: GarageArea, Length: 441, dtype: int64

In [20]:
X_new['LotArea'].value_counts(ascending=False)

7200     25
9600     24
6000     17
9000     14
8400     14
         ..
14601     1
13682     1
4058      1
17104     1
9717      1
Name: LotArea, Length: 1073, dtype: int64

In [21]:
X_new['YearBuilt'].describe()

count    1460.000000
mean     1971.267808
std        30.202904
min      1872.000000
25%      1954.000000
50%      1973.000000
75%      2000.000000
max      2010.000000
Name: YearBuilt, dtype: float64

In [22]:
X_new['OverallCond'].value_counts()

5    821
6    252
7    205
8     72
4     57
3     25
9     22
2      5
1      1
Name: OverallCond, dtype: int64

In [23]:
X_new['OverallQual'].value_counts()

5     397
6     374
7     319
8     168
4     116
9      43
3      20
10     18
2       3
1       2
Name: OverallQual, dtype: int64

In [24]:
X_new['FullBath'].value_counts()

2    768
1    650
3     33
0      9
Name: FullBath, dtype: int64

In [25]:
X_new['KitchenAbvGr'].value_counts()

1    1392
2      65
3       2
0       1
Name: KitchenAbvGr, dtype: int64

In [26]:
X_new['BedroomAbvGr'].value_counts()

3    804
2    358
4    213
1     50
5     21
6      7
0      6
8      1
Name: BedroomAbvGr, dtype: int64

In [27]:
X_new['TotRmsAbvGrd'].value_counts()

6     402
7     329
5     275
8     187
4      97
9      75
10     47
11     18
3      17
12     11
2       1
14      1
Name: TotRmsAbvGrd, dtype: int64

In [28]:
X_new['2ndFlrSF'].describe()

count    1460.000000
mean      346.992466
std       436.528436
min         0.000000
25%         0.000000
50%         0.000000
75%       728.000000
max      2065.000000
Name: 2ndFlrSF, dtype: float64

In [ ]:
X_new['1stFlrSF']

In [126]:
X_new[X_new['1stFlrSF'] <= 1000]

,ExterCond,SaleCondition,RoofMatl,GarageArea,LotArea,YearBuilt,OverallCond,OverallQual,FullBath,KitchenAbvGr,...,NoRidge,NridgHt,OldTown,SWISU,Sawyer,SawyerW,Somerst,StoneBr,Timber,Veenker
1,1,1,1,460,9600,1976,8,6,2,1,...,0,0,0,0,0,0,0,0,0,1
4,1,1,1,836,14260,2000,5,8,2,1,...,1,0,0,0,0,0,0,0,0,0
6,1,1,1,636,10084,2004,5,8,2,1,...,0,0,0,0,0,0,1,0,0,0
7,1,1,1,484,10382,1973,6,7,2,1,...,0,0,0,0,0,0,0,0,0,0
8,1,2,1,468,6120,1931,5,7,2,2,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,1,1,1,400,7500,2004,5,7,2,1,...,0,0,0,0,0,0,1,0,0,0
1456,1,1,1,500,13175,1978,6,6,2,1,...,0,0,0,0,0,0,0,0,0,0
1457,2,1,1,252,9042,1941,9,7,2,1,...,0,0,0,0,0,0,0,0,0,0
1458,1,1,1,240,9717,1950,6,5,1,1,...,0,0,0,0,0,0,0,0,0,0
1459,1,1,1,276,9937,1965,6,5,1,1,...,0,0,0,0,0,0,0,0,0,0

## Definicion de la Y

In [30]:
y = housing_df['SalePrice']

## Ejecución del modelo - RandomForestRegressor

In [31]:
#Separo mi modelo en train and test, en un 0.8 y 0.2 respectivamente

In [102]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_new,y,test_size=0.2)

In [103]:
# Creo mi modelo a utilizar y lo pongo a entrenar

In [104]:
from sklearn.ensemble import RandomForestRegressor
modelo = RandomForestRegressor(max_depth=30)

In [105]:
modelo.fit(X_train,y_train)

RandomForestRegressor(max_depth=30)

In [106]:
# Chequeo scores de train y de test

In [107]:
modelo.score(X_train,y_train)

0.9797762806789625

In [108]:
modelo.score(X_test,y_test)

0.8482617153205337

In [109]:
cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
lista_promedio = cross_val_score(modelo, X_new, y, cv=cv)
promedio = statistics.mean(lista_promedio)
print(lista_promedio, promedio)

[0.8451257  0.83913488 0.82438388 0.8330372  0.84273685] 0.8368836991642047

## METRICA SOLICITADA

In [110]:
y_predict = modelo.predict(X_test)
from sklearn.metrics import mean_squared_log_error
mean_squared_log_error(y_test, y_predict)

0.027819662078044396

In [41]:
df = pd.DataFrame(y_predict)

In [42]:
df.rename(columns={0:'Pred'},inplace=True)

In [43]:
df.to_csv(r"C:\Users\usuario\Desktop\ML\Proyecto_ML\pred_test.csv",index=False)

In [51]:
copia_house = X_test.copy()

In [53]:
copia_house['Predicciones'] = y_test

In [62]:
copia_house.drop('Predicciones',axis='columns',inplace=True)

In [66]:
copia_house['Predicciones'] = y_predict

In [68]:
copia_house['Valores reales'] = y_test

In [72]:
copia_house['Variacion'] = (copia_house['Valores reales'] - copia_house['Predicciones'])

In [73]:
copia_house

,ExterCond,SaleCondition,RoofMatl,GarageArea,LotArea,YearBuilt,OverallCond,OverallQual,FullBath,KitchenAbvGr,...,SWISU,Sawyer,SawyerW,Somerst,StoneBr,Timber,Veenker,Predicciones,Valores reales,Variacion
331,1,1,1,308,8176,1958,6,5,1,1,...,0,0,0,0,0,0,0,136746.00,139000,2254.00
102,3,5,1,410,7018,1979,5,5,2,2,...,0,0,1,0,0,0,0,130404.21,118964,-11440.21
1218,1,1,1,0,6240,1947,5,4,1,1,...,0,0,0,0,0,0,0,75842.00,80500,4658.00
448,1,1,1,198,8600,1937,6,6,2,1,...,0,0,0,0,0,0,0,138425.00,119500,-18925.00
580,1,1,1,572,14585,1960,6,6,1,1,...,0,0,0,0,0,0,0,169701.50,181900,12198.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1072,1,1,1,280,7585,1948,3,5,1,1,...,0,0,0,0,0,0,0,103972.00,91500,-12472.00
1451,1,3,1,840,9262,2008,5,8,2,1,...,0,0,0,1,0,0,0,257058.72,287090,30031.28
760,1,1,1,300,9100,1959,6,6,1,1,...,0,0,0,0,0,0,0,130773.50,127500,-3273.50
370,1,1,1,460,8121,2000,5,6,2,1,...,0,0,0,0,0,0,0,178228.00,172400,-5828.00
595,1,3,1,758,11302,2005,5,8,2,1,...,0,0,0,0,1,0,0,268203.91,319000,50796.09

In [81]:
copia_house.indexdf_resul

Int64Index([ 331,  102, 1218,  448,  580, 1412,  620,  565, 1346, 1081,
            ...
             158, 1280, 1005, 1302, 1002, 1072, 1451,  760,  370,  595],
           dtype='int64', length=292)

In [82]:
resultados = pd.DataFrame({'Id': copia_house.index, 'SalePrice': copia_house['Predicciones']})

In [83]:
resultados

        Id  SalePrice
331    331  136746.00
102    102  130404.21
1218  1218   75842.00
448    448  138425.00
580    580  169701.50
...    ...        ...
1072  1072  103972.00
1451  1451  257058.72
760    760  130773.50
370    370  178228.00
595    595  268203.91

[292 rows x 2 columns]